<%- include('partials/header') %>

<div class="jumbotron">
  <h1>Welcome back, Master</h1>
</div>


<div class=".container">
  <h1 class="display-4"> Your Customers and Their Orders</h1>
  <div class="row">
    <div class="col-6">
      <form class="" action="/list" method="post">
    <h1>Orders </h1>
      <% db.forEach((ele,id) => { %>
        <h3><%=id+1%> .  <%= ele.name %></h3>
        <button type="submit" name="Orders" value="<%= ele.name %>" class="btn btn-success orderbtn"> View Orders</button>
      <%})%>
      </form>
    </div>
    <div class="col-6">
      <form class="" action="/list1" method="post">
    <h1>Wishlist</h1>
      <% db.forEach((ele,id) => { %>
        <h3><%=id+1%> .  <%= ele.name %></h3>
        <button type="submit" name="Orders" value="<%= ele.name %>" class="btn btn-success orderbtn"> View Orders</button>
      <%})%>
      </form>
    </div>

  </div>

</div>

<%- include('partials/footer') %>
